.cards{
    width: 200px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.person{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
}
.cards {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}